{% extends 'reg_guests/base.html' %} {% block content %}
<div class="container">
    <h3>Salsa & Bachata Night in Drapers</h3>
    <p>
        This list shows all attendees registered for our event. Please use the 'New Guest' button below to add more guests to the
        list.
    </p>

    <div class="row">
        <div class="col-md-3">
            <div class="nav flex-column">
                <a href="{% url 'register_new' %}" class="top-menu">
                    <i class="far fa-plus-square"></i>
                    New Guest
                </a>
            </div>
        </div>

        <div class="col-md-9">
            <div class="guest-list">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Arrived At</th>
                            <th scope="col">Amount Paid</th>
                            <th scope="col">Level</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for guest in guests %}
                        <tr>
                            <td>{{ guest.first_name }}</td>
                            <td>{{ guest.last_name }}</td>
                            <td>{{ guest.registration_time }}</td>
                            <td>{{ guest.amount_paid }}</td>
                            {% if guest.is_new_to_salsa %}
                            <td>Beginner</td>
                            {% else %}
                            <td>Improver</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>





    </div>
</div>


{% endblock %}