{% extends 'reg_guests/base.html' %}

{% block content %}
<h3>Guest List</h3>

<table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Arrived At</th>
        <th>Amount Paid</th>
        <th>Level</th>
    </tr>
    {% for guest in guests %}
    <tr>
        <th>{{ guest.first_name }}</th>
        <th>{{ guest.last_name }}</th>
        <th>{{ guest.registration_time }}</th>
        <th>{{ guest.amount_paid }}</th>
        {% if guest.is_new_to_salsa %}
        <th>Beginner</th>
        {% else %}
        <th>Improver</th>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% endblock %}
